html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  overflow: hidden;
  
}

body::before {
  content: "";
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100vh;
  height: 100vw;
  background: url("str.jpg") center / cover no-repeat;
  transform: translate(-50%, -50%) rotate(270deg);
  z-index: -1;
}


/* container */
.startdiv {
  position: relative;
  width: 60vw;
  height: 80vh;
  margin: 10vh auto;
  background: rgba(0, 0, 0, 0.995);
  border-radius: 20px;
  overflow: hidden;
}

/* start menu */
.starting {
  position: absolute;
  inset: 0;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  z-index: 5;
}

/* buttons */
.starButton,
.instructionbtn {
  height: 6vh;
  width: 9vw;
  border-radius: 10px;
  border: none;
  background: grey;
  color: white;
  cursor: pointer;
}

/* hero */
.plan {
  position: absolute;
  width: 3.5vw;
  transform: rotate(180deg);
  left: 50%;
  bottom: 5%;
  translate: -50% 0;
  z-index: 2;
}

/* enemy */
.enmySize {
  position: absolute;
  width: 6vw;
  height: auto;
  top: 5%;
}

/* bullets */
.bullet {
  position: absolute;
  width: 8px;
  height: 12px;
  background: white;
  border-radius: 4px;
  z-index: 3;
}

.enemyBullet {
  background: red;
  height: 13px;
  width: 4px;
}



  .score{
    position: fixed;
    left: 8vw;
    top: 10vh;
    height: 10vh;
    width: 10vw;
    border-radius: 12px;
    background-color: rgba(20, 20, 20, 0.783);
    color: azure;
    align-items: center;
    padding: 10px;
  }

   .countBoullet{
    position: fixed;
    left: 8vw;
    top: 24vh;
    height: 10vh;
    width: 10vw;
    border-radius: 12px;
    background-color: rgba(20, 20, 20, 0.783);
    color: azure;
    align-items: center;
    padding: 10px;
  }

  .level{
    position: fixed;
    left: 8vw;
    top: 40vh;
    height: 4vh;
    width: 10vw;
    border-radius: 12px;
    background-color: rgba(20, 20, 20, 0.783);
    color: azure;
    align-items: center;
    padding: 10px;
  }

  .bonus{
    width: 10px;
    height: auto;
    background: transparent;
    color: whitesmoke;
    position: absolute;
  }