html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  overflow: hidden;
  
}

body::before {
  content: "";
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100vh;
  height: 100vw;
  background: url("str.jpg") center / cover no-repeat;
  transform: translate(-50%, -50%) rotate(270deg);
  z-index: -1;
}

.startdiv{
    position: fixed;
    width: 80vw;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0);
    margin: 10vh 10vw;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.starting{
    height: 25vh;
    width: 30vw;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
     display: flex;
     flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.playdiv{
   position: fixed;
    width: 60vw;
    height: 80vh;
    background-color: rgb(0, 0, 0);
    margin: 10vh 20vw;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadstarting{
   background-image: url('war.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% 100%;
}

.starButton{
    height: 6vh;
    width: 7vw;
    border-radius: 10px;
    border: none;
    background-color: grey;
    color: aliceblue;
    cursor: pointer;

}

.instructionbtn{
 height: 6vh;
    width: 7vw;
    border-radius: 10px;
     border: none;
    background-color: grey;
    color: aliceblue;
    cursor: pointer;
}

.hero{
  height: 15px;
  width: 15px;
  background-image: url('airfight.png');
  background-color: transparent;
  position:absolute;
  z-index: 1;
  top :85%;
  }

  .score{
    position: fixed;
    left: 8vw;
    top: 10vh;
    height: 10vh;
    width: 10vw;
    border-radius: 12px;
    background-color: rgba(20, 20, 20, 0.783);
    color: azure;
    align-items: center;
    padding: 10px;
  }

   .tim{
    position: fixed;
    left: 8vw;
    top: 24vh;
    height: 10vh;
    width: 10vw;
    border-radius: 12px;
    background-color: rgba(20, 20, 20, 0.783);
    color: azure;
    align-items: center;
    padding: 10px;
  }

  .level{
    position: fixed;
    left: 8vw;
    top: 40vh;
    height: 4vh;
    width: 10vw;
    border-radius: 12px;
    background-color: rgba(20, 20, 20, 0.783);
    color: azure;
    align-items: center;
    padding: 10px;
  }

  .plan{
    width: 6vw;
    height: 6vh;
  }
  .enmySize{
    position: absolute;
    top: 0;
      width: 6vw;
    height: 6vh;
  }


  .bullet{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: brown;
    position: absolute;
    z-index: 2;
  }